<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter Nouveau Parc-Jardin</title>
</head>
<body class="gray-bg">
<div layout:fragment="content">
    <div id="bloc_page" class ="col-lg-12">

        <form class="row" th:action="@{/AjouterPJ}" method ="Post" th:object="${nouveauPJ}">
            <div>
                <label>Nom : </label>
                <input type="text" name="name" th:value="*{name}"/>
            </div>
            <div>
                <label>Adresse : </label>
                <input type="text" name="adresse" th:value="*{adresse}"/>
            </div>
            <div>
                <label>Description : </label>
                <input type="text" name="description"  th:value="*{description}"/>
            </div>
            <!--<div>
                <label>Type : </label>
                <input type="checkbox" id ="PJtype1" name="parc" value="Parc"/>
                <label for="PJtype1">Parc</label>
                <input type="checkbox" id ="PJtype2" name="jardin" value="Jardin"/>
                <label for="PJtype1">Jardin</label>
            </div>-->
            <div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>

        </form>
        <!--<section class="row">
            <article class ="col-lg-12">
                <input type="checkbox" name="Cafétiere" value="Cafétiere">Cafétiere<br>
                <input type="checkbox" name="Wifi" value="Wifi">Wifi<br>
                <input type="checkbox" name="Terrain" value="Terrain">Terrain de sport<br>
                <input type="checkbox" name="Restaurant" value="Restaurant">Restaurant<br>
                <input type="checkbox" name="Point" value="Point">Point d'eau<br>
                <input type="checkbox" name="Parking" value="Parking">Parking<br>
            </article>

        </section>-->




    </div>
</div>
</body>
</html>