<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter Nouveau Parc-Jardin</title>
</head>
<body class="gray-bg">
<div layout:fragment="content">
    <!--center-->
    <div id="bloc_page" class ="col-lg-4 col-lg-offset-4">

        <form enctype = "multipart/form-data" class="row" th:action="@{/AjouterPJ}" method ="Post" th:object="${nouveauPJ} " >
            <div class="form-group col-lg-offset-2">
                <label for="ajouterPJ">Nom</label>
                <input type="text" class="form-control" id="ajouterPJ" name="name" th:field="*{name}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="adress">Adresse</label>
                <input type="text" name="adresse" class="form-control" id="adress" th:field="*{adresse}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc" name="description"  th:field="*{description}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="lat">Latitude</label>
                <input  type="text" name="L" class="form-control" id="lat" th:field="*{L}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="longitude">Longitude</label>
                <input  type="text" name="G" class="form-control" id="longitude" th:field="*{G}"/>
            </div>




            <fieldset class="form-group col-lg-offset-2">
                <div class="row">
                    <legend class="col-form-label col-lg-2 pt-0">Type  </legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  id ="PJtype2"  name="type" th:value="JARDIN" th:field="*{type}"/>
                            <label class="form-check-label" for="PJtype2">
                                Jardin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id ="PJtype1"  name="type" th:value="PARC" th:field="*{type}"/>
                            <label class="form-check-label" for="PJtype1">
                                Parc
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>




            <fieldset class="form-group col-lg-offset-2">
                <div class="row">
                    <legend class="col-form-label col-lg-2">Categorie  </legend>
                    <div class="col-lg-offset-1 col-lg-8" >
                        <div class="form-check" th:each="cat : ${Allcategories}">
                            <input class="form-check-input"  name="cats" th:value="${cat.id}" type="checkbox" id="cat" />
                            <label class="form-check-label" for="cat"
                                   th:text="${cat.nomcategorie}"></label>
                        </div>


                    </div>
                </div>
            </fieldset>



            <!--<div>
                <table>
                    <tr>
                        <td>Categorie(s)</td>
                        <td>
                            <th:block th:each="cat : ${categories}">
                                <input type="checkbox" name="cats" th:value="${cat.id}"/>
                                <label th:text="${cat.nomcategorie}"></label>
                            </th:block>
                        </td>
                    </tr>
                </table>
            </div>-->
            <div class="form-group col-lg-offset-2">
                <table>
                    <tr>
                    	<input type="hidden" name="nom" />
                        <label for="photo">Ajouter Photos</label><br/>
                        <span for="">photo 1 :</span>
                        <input type="file" id="photo" name="file1" />
                        <span for="">photo 2 :</span>
                        <input type="file" id="photo" name="file2" />
                        <span for="">photo 3 :</span>
                        <input type="file" id="photo" name="file3" />
                        <span for="">photo 4 :</span>
                        <input type="file" id="photo" name="file4" />
                        <span for="">photo 5 :</span>
                        <input type="file" id="photo" name="file5" />
                    </tr>
                </table>
            </div>

            <div th:object="${hlundi}">
                <div class="form-group col-lg-offset-2">
                <label for="lundi">Lundi : </label>
                <input type="hidden" class="form-control" th:value="Lundi" id="lundi" name="journee" th:field="*{journee}"/>
            </div>

            <div class="form-group col-lg-offset-2">
                <label for="ho">Heure d'ouverture</label>
                <input type="texte" class="form-control" id="ho" name="ouverture" th:field="*{ouverture}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="hf">Heure fermeture</label>
                <input type="texte" class="form-control" id="hf" name="fermuture" th:field="*{fermuture}"/>
            </div>
            </div>

            <div th:object="${hmardi}">
                <div class="form-group col-lg-offset-2">
                    <label for="mardi">Lundi : </label>
                    <input type="hidden" class="form-control"  th:value="Mardi" id="mardi" name="journee" th:field="*{journee}"/>
                </div>

                <div class="form-group col-lg-offset-2">
                    <label for="ho1">Heure d'ouverture</label>
                    <input type="texte" class="form-control" id="ho1" name="ouverture" th:field="*{ouverture}"/>
                </div>
                <div class="form-group col-lg-offset-2">
                    <label for="hf1">Heure fermeture</label>
                    <input type="texte" class="form-control" id="hf1" name="fermuture" th:field="*{fermuture}"/>
                </div>
            </div>











            <div>
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </div>


        </form>


    </div>
    <!--/center-->
</div>
</body>
</html>