<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style2.css" />
        <title>Ajouter Parc-Jardin</title>
        <link href="bootstarp/css/bootstrap.css" rel="stylesheet">
		<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">-->

    </head>
    
    <body style="background: #eeeaea ;">
    
    
        <div id="bloc_page" class ="col-lg-12">
                <center>Ajouter Parc/Jardin</center>
            <section class="row">
                <article class ="col-lg-12">
                    <label>Nom : </label><input type="text" name="nom"><br/>
                    <label>Horaire : </label><a></a><br/>
                    <label>Address : </label><input type="text" name="address"><br/>
                    <label>Gatégorie : </label><a></a><br/>
                </article>
                
            </section>
            <section class="row">
                <article class ="col-lg-12">
                    <input type="checkbox" name="Cafétiere" value="Cafétiere">Cafétiere<br>
                    <input type="checkbox" name="Wifi" value="Wifi">Wifi<br>
                    <input type="checkbox" name="Terrain" value="Terrain">Terrain de sport<br>
                    <input type="checkbox" name="Restaurant" value="Restaurant">Restaurant<br>
                    <input type="checkbox" name="Point" value="Point">Point d'eau<br>
                    <input type="checkbox" name="Parking" value="Parking">Parking<br>
                </article>
                
            </section>
        

			
            
		</div>	
			
            
        </div>
        
    </body>
</html>


