<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter Nouveau Parc-Jardin</title>
</head>
<body class="gray-bg">
<div layout:fragment="content">
    <!--center--><br/><br/><br/>
    <center style="color:#4CA66B"><h4>ajouter Parc / Jardin Lillios </h4></center><br/><br/><br/>
    <div id="bloc_page" class ="col-lg-4 col-lg-offset-4">

        <form enctype = "multipart/form-data" class="row" th:action="@{/AjouterPJ}" method ="Post" th:object="${nouveauPJ} " >
            <div class="form-group col-lg-offset-2">
                <label for="ajouterPJ">Nom</label>
                <input type="text" class="form-control" id="ajouterPJ" name="name" th:field="*{name}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="adress">Adresse</label>
                
                <input type="textbox" name="adresse" class="form-control" value="Sydney, NSW" id="address" th:field="*{adresse}"/><br/>
                <input id="submit" type="button" value="Geocode" class ="btn  glyphicon-screenshot col-lg-4 col-lg-offset-7" style="background:#ffffff;font-size:19px;" /><br/>
            </div>
            
            <div class="form-group col-lg-offset-2">
                <label for="lat">Latitude</label>
                <input  type="text" name="L" class="form-control" id="lat" th:field="*{L}"/>
            </div>
            <div class="form-group col-lg-offset-2">
                <label for="longitude">Longitude</label>
                <input  type="text" name="G" class="form-control" id="longitude" th:field="*{G}"/>
            </div>
			<div class="form-group col-lg-offset-2">
                <label for="desc">Description</label>
                <input style="padding-bottom: 90px" type="text" class="form-control" id="desc" name="description"  th:field="*{description}"/>
            </div>



            <fieldset class="form-group col-lg-offset-2">
                <div class="row">
                    <legend class="col-form-label col-lg-2 pt-0">Type  </legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  id ="PJtype2"  name="type" th:value="JARDIN" th:field="*{type}"/>
                            <label class="form-check-label" for="PJtype2">
                                Jardin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id ="PJtype1"  name="type" th:value="PARC" th:field="*{type}"/>
                            <label class="form-check-label" for="PJtype1">
                                Parc
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>




            <fieldset class="form-group col-lg-offset-2">
                <div class="row">
                    <legend class="col-form-label col-lg-2">Categorie  </legend>
                    <div class="col-lg-offset-1 col-lg-8" >
                        <div class="form-check" th:each="cat : ${Allcategories}">
                            <input class="form-check-input"  name="cats" th:value="${cat.id}" type="checkbox" id="cat" />
                            <label class="form-check-label" for="cat"
                                   th:text="${cat.nomcategorie}"></label>
                        </div>


                    </div>
                </div>
            </fieldset>



            <!--<div>
                <table>
                    <tr>
                        <td>Categorie(s)</td>
                        <td>
                            <th:block th:each="cat : ${categories}">
                                <input type="checkbox" name="cats" th:value="${cat.id}"/>
                                <label th:text="${cat.nomcategorie}"></label>
                            </th:block>
                        </td>
                    </tr>
                </table>
            </div>-->
            <div class="form-group col-lg-offset-2">
                <table>
                    <tr>
                    	<input type="hidden" name="nom" />
                        <label for="photo">Ajouter Photos</label><br/>
                        <span for="">photo 1 :</span>
                        <input type="file" id="photo" name="file1" />
                        <span for="">photo 2 :</span>
                        <input type="file" id="photo" name="file2" />
                        <span for="">photo 3 :</span>
                        <input type="file" id="photo" name="file3" />
                        <span for="">photo 4 :</span>
                        <input type="file" id="photo" name="file4" />
                        <span for="">photo 5 :</span>
                        <input type="file" id="photo" name="file5" />
                    </tr>
                </table>
            </div>

            <!--<div>
                <table>
                    <tr>
                        <td>Categorie(s)</td>
                        <td>
                            <th:block th:each="cat : ${categories}">
                                <input type="checkbox" name="cats" th:value="${cat.id}"/>
                                <label th:text="${cat.nomcategorie}"></label>
                            </th:block>
                        </td>
                    </tr>
                </table>
            </div>-->




            <!--<table >
                <tr >
                    <td>Horaire : </td>
                    <td>
                        <th:block th:each="hor : ${AllHoraire}" th:object="${hor}">
                            <input type="text" name="journee" th:value="${hor.journee}"/>
                            <input type="text" name="ouverture" th:field="*{ouverture}"/>
                            <input type="text" name="fermeture" th:field="*{fermeture}"/>
                        </th:block>
                    </td>
                </tr>
            </table>-->


            <!--<div th:object="${hlundi}">
                <div class="form-group col-lg-offset-2">
                    <label for="mardi">Mardi : </label>
                    <input type="hidden" class="form-control"  th:value="lundi" id="lundi" name="journee" th:field="*{journee}"/>
                </div>

                <div class="form-group col-lg-offset-2">
                    <label for="ho">Heure d'ouverture</label>
                    <input type="texte" class="form-control" id="ho" name="ouverture" th:field="*{ouverture}"/>
                </div>
                <div class="form-group col-lg-offset-2">
                    <label for="hf1">Heure fermeture</label>
                    <input type="texte" class="form-control" id="hf" name="fermeture" th:field="*{fermeture}"/>
                </div>

            </div>

            <div th:object="${hmardi}">
                    <div class="form-group col-lg-offset-2">
                        <label for="mardi">Mardi : </label>
                        <input type="hidden" class="form-control"  th:value="Mardi" id="mardi" name="journee" th:field="*{journee}"/>
                    </div>

                    <div class="form-group col-lg-offset-2">
                        <label for="ho1">Heure d'ouverture</label>
                        <input type="texte" class="form-control" id="ho1" name="ouverture" th:field="*{ouverture}"/>
                    </div>
                    <div class="form-group col-lg-offset-2">
                        <label for="hf1">Heure fermeture</label>
                        <input type="texte" class="form-control" id="hf1" name="fermeture" th:field="*{fermeture}"/>
                    </div>

            </div>



            <div th:object="${hmercredi}">
                <div class="form-group col-lg-offset-2">
                    <label for="mercredi">Mercredi : </label>
                    <input type="hidden" class="form-control"  th:value="mercredi" id="mercredi" name="journee" th:field="*{journee}"/>
                </div>

                <div class="form-group col-lg-offset-2">
                    <label for="ho2">Heure d'ouverture</label>
                    <input type="texte" class="form-control" id="ho2" name="ouverture" th:field="*{ouverture}"/>
                </div>
                <div class="form-group col-lg-offset-2">
                    <label for="hf2">Heure fermeture</label>
                    <input type="texte" class="form-control" id="hf2" name="fermeture" th:field="*{fermeture}"/>
                </div>

            </div>
-->








			<center>
            <div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                

            </div></center>


        </form>


    </div>
    
    <!--/center-->
</div></body>





</html>
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJnvvcL_dbwxK3BMeZ0AjOUy1fXywda_4">
    </script>
<script>
var geocoder = new google.maps.Geocoder();

document.getElementById('submit').addEventListener('click', function() {
  geocodeAddress();
});

function hello(){
	
	console.log("hello world");
}


function geocodeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {

      if (status === 'OK') {
    	  var GPS= results[0].geometry.location;
    	  var objLatLng= {lat:GPS.lat(),lng:GPS.lng()};
    	  console.log(objLatLng);
    	  var latitude = document.getElementById("lat").value=objLatLng.lat;
    	  var longitude = document.getElementById("longitude").value=objLatLng.lng;
        
      } else {

        alert('Geocode was not successful for the following reason: ' + status);
      }

    });
  }
</script>
