<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout">
<head>
    <meta charset="utf-8"/>
    <title>Parc et Jardin Lillois </title>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap.min.css"
          th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/mystyle.css"
          th:href="@{/mystyle.css}"/>
</head>
<body>
<header>
	<div class="text-center">
       <div  style="transform: scale(1.11, 1)">
           <a href="/">
               <div>
                   <img height="510px" src="/images/back_log.png" />
               </div>
           </a>
       </div>
    </div>
    <div class="navbar navbar-default" style="background-color:#32CD32" >
        <div class="container-fluid" style = "background:#ffffff;">
            <u1 class = "nav navbar-nav">
                <li><a style="color:#000000;margin-left:10px;" th:href="@{/}">Accueil</a></li>
                <li><a style="color:#000000;margin-left:5px;" th:href="@{/AjouterPJ}">Ajouter Parc Jardin</a></li>
                <li><a style="color:#000000;margin-left:5px;" th:href="@{/NouveauCommentaire}">Commentaires</a></li>
                <li><a style="color:#000000;margin-left:5px;" th:href="@{/Operatiohoraire}">Horaires</a></li>
                <li><a style="color:#000000;margin-left:5px;" th:href="@{/ajouteAdmin}">Administration</a></li>

            </u1>
            <u1 class="nav navbar-nav navbar-right">

                <li><a th:href="@{/login?logout}">Logout</a></li>
            </u1>
        </div>
    </div>
</header>
<section layout:fragment="content"></section>
<footer>
    <div class="navbar-fixed-bottom">
        <small>ELAZZAM-MAROUANI-AHMED IDRISS</small>
    </div>
</footer>
</body>
</html>